body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: rgba(243, 242, 242, 0.826);
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.width-half {
    width: 50%;
    padding-left: 5%;
}

.width-half img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;

}

.middle-background {
    background-image: url(image/7.png);
    background-repeat: no-repeat;
}

.data {
    text-align: center;
    color: rgba(0, 0, 0, 0.507);
}

.data1 {
    touch-action: pinch-zoom;
}


.recipie-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px white;


}

.recipie-item img {
    width: 100%;

}